[submodule "examples"]
	path = examples
	url = https://github.com/arxdeus/xcross_examples
[submodule "third_party/OpenAppleMacros"]
	path = third_party/OpenAppleMacros
	url = https://github.com/arxdeus/OpenAppleMacros
	branch = xcross
